p {
    margin: 10px 0 5px;
}

input {
    margin: 0;
}

input#civility, input#sex {
    margin: 5px 10px;
}

input#civility:first-child, input#sex:first-child {
    margin-left: 0;
}

.radio_civility, .radio_sex {
    display: flex;
}